<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>To-Do-List</title>
</head>
<body>
  <div class="container">
 <div class="box1">
        <h1>To-Do-List</h1>
    </div>
    <div class="box2">
      <% for(let i =0; i< exej.length;i++){ %>
       <%  if( exej[i] ==""){ %>
       <%    continue; %>
       <%  } %>
        <div class="check">
              <input class="tick"  type="checkbox">
        <p><%= exej[i] %></p>
        </div>
    
       <% } %> 

      <form action="/" method="POST">
        <input type="text" name="todo" placeholder="enter the task">
        <button type="submit">+</button>
      </form>
  </div>
   
    </div>
</body>
</html>